.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px 16px;
  width: 100%;
  color: white;
  margin: 0px auto 0px;
  font-size: 2.2rem;
  transition: all 300ms ease;
  background-size: 100% 100%;
  
  &.gr-facebook {
    background-image: linear-gradient(45deg, #1B65EB,#1BDBF8);
  }
  
  &.gr-spotify {
    background-image: linear-gradient(45deg, #1dce5e,#12bc6d );
  }
  &.gr-amazon {
    background-image: linear-gradient(45deg,  #ff9900, #146eb4 );
  }
  &.gr-phone {
    background-image: linear-gradient(45deg,  var(--primary), var(--secondary));
  }
  
  &.gr-youtube {
    background-image: linear-gradient(45deg, #d20c0c,#FF0305 );
  }
  
  &.gr-instagram {
    background-image: linear-gradient(45deg, #FCB845, #FD2246 ,#5538E8 );
  }
  
  &.gr-twitter {
    background-image: linear-gradient(45deg, #1DA1F2,#34AAF2 );
  }
  
  &.gr-tiktok {
    background-image: linear-gradient(45deg, #69c9D0,#EE1D52 );
  }
  
  &.gr-whatsapp {
    background-image: linear-gradient(45deg, #128C7E,#25D366 );
  }
  
  &.gr-snapchat {
    background-image: linear-gradient(45deg, #FFFC00,#FFFC00 );
  }
  
  &.gr-linkedin {
    background-image: linear-gradient(45deg, #0077b5,#00a0dc );
  }
  
  &.gr-github {
    background-image: linear-gradient(45deg, #333,#555 );
  }
  
  &.gr-download {
    background-image: linear-gradient(45deg, #fff,#e1e1e1 );
    color: #000;
  }

  &.gr-snapchat svg {
    stroke: black !important;
    stroke-width: 10px !important;
  }
  outline: transparent 2px solid;
  filter: saturate(100%);
  &:hover, &:focus {
    background-size: 250% 100%;
 filter: saturate(150%);
  }
}

.feature-link-item {
  background-image: linear-gradient(45deg, #fff,#e1e1e1 );
  color: #000;
}

.profile-container {
  &.tinted-blurred::after {
    content: '';
    inset: 0 0 0 0;
    z-index: 1;
    position: absolute;
    background-color: #000000bd;
    width: 100%;
    height: 100%;
  }
} 