.wave-text span.wave-target {
  --c1: var(--primary);
  --c2: var(--secondary);
  font-weight: 900;
  --_p: 93% 83.5% at;
  --_g1: radial-gradient(var(--_p) bottom,var(--c1) 79.5%,#0000 80%) no-repeat;
  --_g2: radial-gradient(var(--_p) top   ,#0000 79.5%,var(--c1) 80%) no-repeat;
  --_g3: radial-gradient(var(--_p) bottom,var(--c2) 79.5%,#0000 80%) no-repeat;
  --_g4: radial-gradient(var(--_p) top   ,#0000 79.5%,var(--c2) 80%) no-repeat;
	background: 
    var(--_g1),var(--_g2),var(--_g1),var(--_g2),
    var(--_g3),var(--_g4),var(--_g3),var(--_g4);
	-webkit-background-clip: text;
	        background-clip: text;
	color: #0000;
	-webkit-text-stroke: 0.2rem var(--c1);
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  animation: 
    s 2s infinite alternate,
    m 3s infinite linear;
}
@keyframes m {
  0% {background-position:
    -200% 100%,-100% 100%,  0% 100%,100% 100%,
       0% 100%, 100% 100%,200% 100%,300% 100%}
  100%{background-position:   
        0% 100%, 100% 100%,200% 100%,300% 100%,
     -200% 100%,-100% 100%,  0% 100%,100% 100%}
}
@keyframes s{
  0%  {background-size:
        50.5% 60%, 50.5% 60%, 50.5% 60%, 50.5% 60%,
        50.5% 90%, 50.5% 90%, 50.5% 90%, 50.5% 90%}
  33% {background-size: 
        50.5% 70%, 50.5% 70%, 50.5% 70%, 50.5% 70%,
        50.5% 75%, 50.5% 75%, 50.5% 75%, 50.5% 75%}
  66% {background-size: 
        50.5% 55%, 50.5% 55%, 50.5% 55%, 50.5% 55%,
        50.5% 80%, 50.5% 80%, 50.5% 80%, 50.5% 80%}
  100%{background-size: 
        50.5% 90%, 50.5% 90%, 50.5% 90%, 50.5% 90%,
        50.5% 95%, 50.5% 95%, 50.5% 95%, 50.5% 95%}
}

.top-slant ::after {
  position:absolute;
  content: " ";
  display:block;
  left:0;
  bottom:-20px;
  width:100%;
  border-style: solid;
  border-width: 0 100vw 20px 0;
  border-color: transparent rgba(0,0,0,0.4) transparent transparent;
}



// GLITCH
// https://codepen.io/cbanlawi/pen/xxRBeMY
.glitch {
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 var(--primary), -0.03em -0.04em 0 var(--secondary),
    0.025em 0.04em 0 var(--tertiary);
  animation: glitch 725ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 var(--primary), -0.03em -0.04em 0 var(--secondary),
      0.025em 0.04em 0 var(--tertiary);
  }
  15% {
    text-shadow: 0.05em 0 0 var(--primary), -0.03em -0.04em 0 var(--secondary),
      0.025em 0.04em 0 var(--tertiary);
  }
  16% {
    text-shadow: -0.05em -0.025em 0 var(--primary), 0.025em 0.035em 0 var(--secondary),
      -0.05em -0.05em 0 var(--tertiary);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 var(--primary), 0.025em 0.035em 0 var(--secondary),
      -0.05em -0.05em 0 var(--tertiary);
  }
  50% {
    text-shadow: 0.05em 0.035em 0 var(--primary), 0.03em 0 0 var(--secondary),
      0 -0.04em 0 var(--tertiary);
  }
  99% {
    text-shadow: 0.05em 0.035em 0 var(--primary), 0.03em 0 0 var(--secondary),
      0 -0.04em 0 var(--tertiary);
  }
  100% {
    text-shadow: -0.05em 0 0 var(--primary), -0.025em -0.04em 0 var(--secondary),
      -0.04em -0.025em 0 var(--tertiary);
  }
}

.wave__divider {
  height: 17vh;
}

.wave__divider.is--reverse--2 {
  height: 22vh;
  padding-bottom: 0px;
}

.wave__divider__static {
  height: 25vh;
}

.wave-diviver-1 {
  background: #DE551B;
  overflow: visible;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    background-image:url("../../public/svg/wave-2.svg");
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    top: 0;
    margin-top: 1px;
    transform: translateY(-100%);
    pointer-events: none!important;
    z-index: 1;
    @media screen and (max-width: 800px) {
      background-size: 200% 50%;
    }
  }
}

.wave__divider__static {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-image: url("https://assets.website-files.com/61c6a26…/61c6a26…_wave%20(1).svg");
  background-position: 50% 100%;
  background-size: auto;
  background-repeat: no-repeat;
}

.wave__divider {
  height: 15vh;
  padding-top: 0px; 
  background-color: var(--primary);
  mask-image: url("../../public/svg/wave-2.svg");
  -webkit-mask-image: url("/public/svg/wave-3.svg");
  background-position: 50% 50%;
  background-size: cover;
}

.wave__divider.wave-2 {
  height: 18vh;
  background-color: var(--primary);
  -webkit-mask-image:url("/public/svg/wave-2.svg");
  mask-image:url("/public/svg/wave-2.svg");
  background-position: 50% 0%;
}
.wave__divider.is--reverse {
  background-color: var(--dark);
  background-image: url("https://assets.website-files.com/625096674843ef99b41c4b59/6254413fb9f0ea275f0db53c_wave%20(5).svg");
}

.wave__divider.is--reverse--2 {
  height: 18vh;
  background-color: var(--primary);
  -webkit-mask-image:url("https://assets.website-files.com/625096674843ef99b41c4b59/6255898e720cc757d8e6c258_wave%20(7).svg");
  mask-image: url("https://assets.website-files.com/625096674843ef99b41c4b59/6255898e720cc757d8e6c258_wave%20(7).svg");
  background-position: 50% 0%;
  // background-image: url("https://assets.website-files.com/625096674843ef99b41c4b59/6255898e720cc757d8e6c258_wave%20(7).svg");
}

.wave__divider.wave-2 {
  overflow: visible;
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: inherit;
  -webkit-mask: url("/public/svg/wave-2.svg") bottom no-repeat;
    mask: url("/public/svg/wave-2.svg")bottom no-repeat;
    margin-top: 1px;
    transform: translateY(-100%);
    position: absolute;
    pointer-events: none!important;

    @media screen and (max-width: 800px) {
      -webkit-mask-size: 300% 50%;
              mask-size: 300% 50%;
    }
  }
}

@keyframes strike{
  0%   { opacity: 0; }
  50% { opacity: 100%; }
  100% { opacity: 0%; }
}

.cross-text {
  position: relative;
  display: inline-block;
  &:after,
  &:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 6px;
    background: maroon;
  }
  &:before {
    transform: rotate(20deg);
  }
  &:after {
    transform: rotate(-20deg);
  }
}

a.hover-chevron {
  transition: all 200ms ease;
  &:after {
    content: ' ';
    display: inline-block;
    border-bottom: 1px solid var(--secondary);
    border-right: 1px solid var(--secondary);
    height: 0px;
    width: 0px;
    margin-left: 4px;
    position: absolute;
    transform: rotate(-45deg);
    opacity: 0;
    transition: all 200ms ease;
    top: 39%;
    left: 50%;
  }
  &:hover, &:focus-within {
   background: var(--dark) !important;
    &:after {
      content: ' ';
      display: inline-block;
      border-bottom: 2px solid var(--secondary);
      border-right: 2px solid var(--secondary);
      height: 10px;
      width: 10px;
      margin-left: 4px;
      transform: rotate(-45deg);
      opacity: 100;
      left: 89%;
    }
  }
  &.hover-chevron-primary-border {
    &:after {
      border-bottom: 2px solid var(--primary);
      border-right: 2px solid var(--primary);
    }
  }
  &.hover-chevron-white-border {
    &:after {
      border-bottom: 2px solid var(--text-overlay);
      border-right: 2px solid var(--text-overlay);
    }
  }
}