.wave-text span.wave-target {
  --c1: var(--primary);
  --c2: var(--secondary);
  font-weight: 900;
  --_p: 93% 83.5% at;
  --_g1: radial-gradient(var(--_p) bottom, var(--c1) 79.5%, #0000 80%) no-repeat;
  --_g2: radial-gradient(var(--_p) top, #0000 79.5%, var(--c1) 80%) no-repeat;
  --_g3: radial-gradient(var(--_p) bottom, var(--c2) 79.5%, #0000 80%) no-repeat;
  --_g4: radial-gradient(var(--_p) top, #0000 79.5%, var(--c2) 80%) no-repeat;
  background: var(--_g1), var(--_g2), var(--_g1), var(--_g2), var(--_g3),
    var(--_g4), var(--_g3), var(--_g4);
  -webkit-background-clip: text;
  background-clip: text;
  color: #0000;
  -webkit-text-stroke: 0.2rem var(--c1);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  animation: s 2s infinite alternate, m 3s infinite linear;
}
@keyframes m {
  0% {
    background-position: -200% 100%, -100% 100%, 0% 100%, 100% 100%, 0% 100%,
      100% 100%, 200% 100%, 300% 100%;
  }
  100% {
    background-position: 0% 100%, 100% 100%, 200% 100%, 300% 100%, -200% 100%,
      -100% 100%, 0% 100%, 100% 100%;
  }
}
@keyframes s {
  0% {
    background-size: 50.5% 60%, 50.5% 60%, 50.5% 60%, 50.5% 60%, 50.5% 90%,
      50.5% 90%, 50.5% 90%, 50.5% 90%;
  }
  33% {
    background-size: 50.5% 70%, 50.5% 70%, 50.5% 70%, 50.5% 70%, 50.5% 75%,
      50.5% 75%, 50.5% 75%, 50.5% 75%;
  }
  66% {
    background-size: 50.5% 55%, 50.5% 55%, 50.5% 55%, 50.5% 55%, 50.5% 80%,
      50.5% 80%, 50.5% 80%, 50.5% 80%;
  }
  100% {
    background-size: 50.5% 90%, 50.5% 90%, 50.5% 90%, 50.5% 90%, 50.5% 95%,
      50.5% 95%, 50.5% 95%, 50.5% 95%;
  }
}

.top-slant ::after {
  position: absolute;
  content: " ";
  display: block;
  left: 0;
  bottom: -20px;
  width: 100%;
  border-style: solid;
  border-width: 0 100vw 20px 0;
  border-color: transparent rgba(0, 0, 0, 0.4) transparent transparent;
}

// GLITCH
// https://codepen.io/cbanlawi/pen/xxRBeMY
.glitch {
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 var(--primary), -0.03em -0.04em 0 var(--secondary),
    0.025em 0.04em 0 var(--tertiary);
  animation: glitch 725ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 var(--primary), -0.03em -0.04em 0 var(--secondary),
      0.025em 0.04em 0 var(--tertiary);
  }
  15% {
    text-shadow: 0.05em 0 0 var(--primary), -0.03em -0.04em 0 var(--secondary),
      0.025em 0.04em 0 var(--tertiary);
  }
  16% {
    text-shadow: -0.05em -0.025em 0 var(--primary),
      0.025em 0.035em 0 var(--secondary), -0.05em -0.05em 0 var(--tertiary);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 var(--primary),
      0.025em 0.035em 0 var(--secondary), -0.05em -0.05em 0 var(--tertiary);
  }
  50% {
    text-shadow: 0.05em 0.035em 0 var(--primary), 0.03em 0 0 var(--secondary),
      0 -0.04em 0 var(--tertiary);
  }
  99% {
    text-shadow: 0.05em 0.035em 0 var(--primary), 0.03em 0 0 var(--secondary),
      0 -0.04em 0 var(--tertiary);
  }
  100% {
    text-shadow: -0.05em 0 0 var(--primary), -0.025em -0.04em 0 var(--secondary),
      -0.04em -0.025em 0 var(--tertiary);
  }
}

.wave__divider {
  height: 17vh;
}

.wave__divider.is--reverse--2 {
  height: 22vh;
  padding-bottom: 0px;
}

.wave__divider__static {
  height: 25vh;
}

.wave-diviver-1 {
  background: #de551b;
  overflow: visible;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("../../public/svg/wave-2.svg");
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    top: 0;
    margin-top: 1px;
    transform: translateY(-100%);
    pointer-events: none !important;
    z-index: 1;
    @media screen and (max-width: 800px) {
      background-size: 200% 50%;
    }
  }
}

.wave__divider__static {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-image: url("https://assets.website-files.com/61c6a26…/61c6a26…_wave%20(1).svg");
  background-position: 50% 100%;
  background-size: auto;
  background-repeat: no-repeat;
}

.wave__divider {
  height: 15vh;
  padding-top: 0px;
  background-color: var(--primary);
  mask-image: url("../../public/svg/wave-2.svg");
  -webkit-mask-image: url("/public/svg/wave-3.svg");
  background-position: 50% 50%;
  background-size: cover;
}

.wave__divider.wave-2 {
  height: 18vh;
  background-color: var(--primary);
  -webkit-mask-image: url("/public/svg/wave-2.svg");
  mask-image: url("/public/svg/wave-2.svg");
  background-position: 50% 0%;
}
.wave__divider.is--reverse {
  background-color: var(--dark);
  background-image: url("https://assets.website-files.com/625096674843ef99b41c4b59/6254413fb9f0ea275f0db53c_wave%20(5).svg");
}

.wave__divider.is--reverse--2 {
  height: 18vh;
  background-color: var(--primary);
  -webkit-mask-image: url("https://assets.website-files.com/625096674843ef99b41c4b59/6255898e720cc757d8e6c258_wave%20(7).svg");
  mask-image: url("https://assets.website-files.com/625096674843ef99b41c4b59/6255898e720cc757d8e6c258_wave%20(7).svg");
  background-position: 50% 0%;
}

.wave__divider.wave-2 {
  overflow: visible;
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: inherit;
    -webkit-mask: url("/public/svg/wave-2.svg") bottom no-repeat;
    mask: url("/public/svg/wave-2.svg") bottom no-repeat;
    margin-top: 1px;
    transform: translateY(-100%);
    position: absolute;
    pointer-events: none !important;

    @media screen and (max-width: 800px) {
      -webkit-mask-size: 300% 50%;
      mask-size: 300% 50%;
    }
  }
}

@keyframes strike {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.cross-text {
  position: relative;
  display: inline-block;
  &:after,
  &:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 6px;
    background: maroon;
  }
  &:before {
    transform: rotate(20deg);
  }
  &:after {
    transform: rotate(-20deg);
  }
}

a.hover-chevron {
  transition: all 200ms ease;
  &:after {
    content: " ";
    display: inline-block;
    border-bottom: 1px solid var(--secondary);
    border-right: 1px solid var(--secondary);
    height: 0px;
    width: 0px;
    margin-left: 4px;
    position: absolute;
    transform: rotate(-45deg);
    opacity: 0;
    transition: all 200ms ease;
    top: 36%;
    left: 50%;
  }
  &:hover,
  &:focus-within {
    background: var(--dark) !important;
    &:after {
      content: " ";
      display: inline-block;
      border-bottom: 2px solid var(--secondary);
      border-right: 2px solid var(--secondary);
      height: 10px;
      width: 10px;
      margin-left: 4px;
      transform: rotate(-45deg);
      opacity: 100;
      left: 89%;
    }
  }
  &.hover-chevron-primary-border {
    &:after {
      border-bottom: 2px solid var(--primary);
      border-right: 2px solid var(--primary);
    }
  }
  &.hover-chevron-white-border {
    &:after {
      border-bottom: 2px solid var(--text-overlay);
      border-right: 2px solid var(--text-overlay);
    }
  }
}

.revealing-image {
  /* Create View Timeline */
  view-timeline-name: --revealing-image;
  view-timeline-axis: block;
  /* Attach animation, linked to the  View Timeline */
  animation: linear reveal both;
  animation-timeline: --revealing-image;
  /* Tweak range when effect should run*/
  animation-range: entry 15% cover 25%;
}

@keyframes reveal {
  from {
    opacity: 0;
    clip-path: inset(45% 20% 45% 20%);
  }
  to {
    opacity: 1;
    clip-path: inset(0% 0% 0% 0%);
  }
}

// .expand-image {
//   /* Create View Timeline */
//   outline: red 1px solid !important;
//   view-timeline-name: --revealing-image;
//   view-timeline-axis: block;
//   /* Attach animation, linked to the  View Timeline */
//   animation: linear reveal both;
//   animation-timeline: --revealing-image;
//   /* Tweak range when effect should run*/
//   animation-range: 5% exit 100%;
// }

// @keyframes reveal {
//   from {
//     opacity: 1;
//     clip-path: inset(90% 75% 90% 75%);
//   }
//   to {
//     opacity: 0.5;
//     clip-path: inset(0% 0% 0% 0%);
//   }
// }


.no-clip {
  // clip-path: inset(0% 0% 0% 0%);
  // background: var(--primary);
  opacity: 1;
  &.clip-image {
    opacity: 0;
    // clip-path: inset(150px 150px 150px 150px);
    // background: var(--background);
  }
}

.zoom-image-out.hero-media-slider .main img {
  /* Create View Timeline */
  view-timeline-name: --zoom-image;
  view-timeline-axis: block;
  /* Attach animation, linked to the  View Timeline */
  animation: linear zoom both;
  animation-timeline: --zoom-image;
  /* Tweak range when effect should run*/
  animation-range: 10% exit 90%;
}

@keyframes zoom {
  0% {
    zoom: 1;
    // translate: -50% -100% 0;
  }

  80% {
    opacity: 0.1;
  }
  100% {
    // translate: -50% -60% 0;
    scale: 3.5;
    opacity: 0.1;
    rotate: -6deg;
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}
.animate-marquee2 {
  animation: marquee2 25s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee-reverse {
  animation: marqueeReverse 25s linear infinite;
}
.animate-marquee-reverse2 {
  animation: marqueeReverse2 25s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes marqueeReverse {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes marqueeReverse2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px) !important;
  }
  50% {
    transform: translate(0, 15px) !important;
  }
  100% {
    transform: translate(0, -0px) !important;
  }
}

.infinite-spin {
  -webkit-animation: spinning 10s linear infinite;
  animation: spinning 10s linear infinite;
  margin-top: 5rem;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}

.small-image {
  max-width: 300px;
  max-height: 300px;
}

.h-300px {
  height: 300px;
}

.offset-image {
  left: -150px !important;
  top: -250px !important;
}

.bg-tan {
  margin-top: -15px;
  background-color: #f1decf;
  padding: 1em 0.5em;
  @media screen and (min-width: 990px) {
    padding: 0em 0em;
  }
}

.frontera-spinner {
  z-index: 1;
  user-select: none;
  -webkit-user-select: none;
}

.comienzo-wrapper-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
  @media screen and (min-width: 990px) {
    align-items: start;
    justify-content: center;
  }
}

.bg-motion {
  background: linear-gradient(
    -90deg,
    var(--primary),
    var(--secondary),
    var(--tertiary),
    var(--secondary),
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  min-height: 100vh;
  &.bg-small {
    min-height: unset;
  }
}

.bg-move {
  background: linear-gradient(
    -90deg,
    var(--primary),
    var(--secondary),
    var(--tertiary),
    var(--secondary),
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.bg-motion-dark {
  background: linear-gradient(
    -90deg,
    var(--background),
    var(--background-secondary),
    var(--background),
    var(--background-secondary),
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  min-height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-motion-dark-vertical {
  background: linear-gradient(
    0deg,
    var(--background),
    var(--background-secondary),
    var(--background),
    var(--background-secondary),
  );
  background-size: 100% 500%;
  animation: gradientVertical 15s ease infinite;
  min-height: 100vh;
}

@keyframes gradientVertical {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 00%;
  }
}

.text-motion {
  background: linear-gradient(
    -90deg,
    var(--primary),
    var(--secondary),
    var(--tertiary),
    var(--secondary),
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 250% auto;
  // animation: textShine 5s ease-in-out infinite alternate;
}

// @keyframes textShine {
//   0% {
//     transform: rotate(30deg);
//   }
//   100% {
//     transform: rotate(30deg);
//   }
// }

.vertical-text {
  width: auto !important;
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  font-style: normal !important;
  transform: rotate(180deg);
}

.vertical-text {
  font-style: normal !important;
}

.bg-frost {
  background-color: rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}


@keyframes popAnimation { 
  0%   {transform: scale(1)  rotate(0deg);}
  50%  {transform: scale(.5) rotate(1260deg);}
  // 50%  {transform: scale(1) rotate(2520deg);}
  100%   {transform: scale(1)  rotate(0deg);}
}

.pop {    
  animation: popAnimation 8s infinite alternate-reverse;
}

.flip-scale-up-diag-1 {
  -webkit-animation-name: flip-scale-up-diag-1 0.5s;
  animation-name: flip-scale-up-diag-1;
  animation-duration: 5.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes flip-scale-up-diag-1 {
  0% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
            transform: scale(1) rotate3d(1, 1, 0, 0deg);
            color: var(--primary);
            filter: blur(0);
  }
  10% {
    -webkit-transform: scale(3) rotate3d(1, 1, 0, 359deg);
            transform: scale(3) rotate3d(1, 1, 0, 359deg);
            filter: blur(0.5);
            
  }
  20% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
            transform: scale(1) rotate3d(1, 1, 0, 0deg);
            filter: blur(0);
  }
}
@keyframes flip-scale-up-diag-1 {
  0% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
            transform: scale(1) rotate3d(1, 1, 0, 0deg);
               filter: blur(0);
  }
  10% {
    -webkit-transform: scale(3) rotate3d(1, 1, 0, 359deg);
            transform: scale(3) rotate3d(1, 1, 0, 359deg);
            filter: blur(0.5);
  }
  20% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
            transform: scale(1) rotate3d(1, 1, 0, 0deg);
            filter: blur(0);
  }
}

// https://blog.olivierlarose.com/tutorials/mask-cursor-effect
.mask-cursor-wrapper {
  min-height: 100vh;

  .mask, .mask-body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    font-size: 32px;
    line-height: 34px;
    @media screen and (min-width: 990px) {
      font-size: 64px;
      line-height: 66px;
    }
    cursor: default;
    
    p{
      width: 90vw;
      padding: 40px;
    }
    span{
      color: var(--primary);
      font-weight: bold;
    }
  }
  .mask {
    span{
      color: var(--tertiary);
    }
  }

  .mask{
    mask-image: url('../../public/assets/mask.svg');
    mask-repeat: no-repeat;
    mask-size: 40px;
    background: var(--primary);
    position: absolute;
    color: var(--background);
  }
}

// https://blog.olivierlarose.com/tutorials/smooth-parallax-scroll
.gallery-infinite-wrapper {
  .gallery-infinite-items {
    min-height: 125vh;
    background:var(--background);
    position: relative;
    display: flex;
    gap: 2vw;
    padding: 2vw;
    box-sizing: border-box;
    overflow: hidden;
    .gallery-infinite-column {
        position: relative;
        height: 100%;
        width: 25%;
        min-width: 250px;
        display: flex;
        flex-direction: column;
        gap: 2vw;
        .gallery-infinite-image-container {
            height: 100%;
            width: 100%;
            position: relative;
            border-radius: 1vw;
            overflow: hidden;
            img {
                object-fit: cover;
            }
        }
        &:nth-of-type(1){
            top: -45%;
        }
        &:nth-of-type(2){
            top: -95%;
        }
        &:nth-of-type(3){
            top: -45%;
        }
        &:nth-of-type(4){
            top: -75%;
        }
    }
  }
  .gallery-infinite-spacer{
    height: 30vh;
  }
}

.animate-paragraph-wrapper {
  min-height: 100vh;
  text-align: center;
  .animate-paragraph {
    display: flex !important;
    font-size: 36px !important;
    transition: all 200ms ease;
    text-align: center;
    @media screen and (min-width: 990px) {
      font-size: 68px !important;
    }
    line-height: 1 !important;
    padding: 40px !important;
    max-width: 1280px !important;
    color: var(--text) !important;
    flex-wrap: wrap !important;
  }
  .animate-word {
    position: relative !important;
    margin-right: 12px !important;
    margin-top: 12px !important;
    text-align: center;
  } 
  .animate-word-shadow {
    position: absolute !important;
    opacity: 20% !important;
    text-align: center;
  }
}

.animate-paragraph-center {
  .animate-paragraph-wrapper {
    .animate-paragraph {
      margin: 0 auto;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
}

@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.strike {
  position: relative;
}

.strike:hover:after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--primary);
  animation-name: strike;
  animation-duration: 300ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: fill;
  animation-direction: normal;
}

.pixel-cursor-trailing-wrapper {
  .pixel-cursor-trailing-grid {
    .pixel-cursor-trailing-column {
      width: 5vw;
      div {
        width: 100%;
        height: 5vw;
      }
    }
    
  }
  .pixel-cursor-trailing-body{
    font-size: 6vw;
    text-align: center;
    font-weight: 700;
    width: 70%;
    position: relative;
    z-index: 1;
    pointer-events: none;
    text-transform: uppercase;
    mix-blend-mode: difference;
    // color: var(--text);
  }
}
