.checkerboard {
  width: 100%;
  height: 100px;
	background-color: #ffffff;
	background-image:  repeating-linear-gradient(45deg, #000000 25%, transparent 25%, transparent 75%, #000000 75%, #000000), repeating-linear-gradient(45deg, #000000 25%, #ffffff 25%, #ffffff 75%, #000000 75%, #000000);
	background-position: 0 0, 50px 50px;
	background-size: 100px 100px;
}

.picnic {
	width:100%;
	min-height: 300px;
	background-color : #FFEBEE;
	background-image:
		repeating-linear-gradient( 0deg, rgba(198, 40, 40, .5) 0px 8px,	transparent 8px 16px),
		repeating-linear-gradient( 90deg, rgba(198, 40, 40, .5) 0px 8px,	transparent 8px 16px);
}

.tumbado {
	width: 100%;
	height: 200px;
	background-color : #FFF;
	background-image:
		repeating-linear-gradient( 0deg,
			rgba(   0,   0,   0, 0.4) 0px 4px, /* black */
			rgba( 255, 255, 255, 0.4) 4px 8px, /* white */
			rgba(   0,   0,   0, 0.4) 8px 12px, /* black */
			rgba( 255, 255, 255, 0.4) 12px 16px, /* white */
			rgba(   0,   0,   0, 0.4) 16px 20px, /* black */
			rgba( 209, 172, 118, 0.4) 20px 30px, /* wheat */
			rgba( 213,   0,   0, 0.4) 30px 32px, /* red */
			rgba( 209, 172, 118, 0.4) 32px 36px, /* wheat */
			rgba( 213,   0,   0, 0.4) 36px 38px, /* red */
			rgba( 209, 172, 118, 0.4) 38px 48px /* wheat */
		),
			repeating-linear-gradient( 90deg,
			rgba(   0,   0,   0, 1) 0px 3px, /* black */
			rgba( 255, 255, 255, 1) 3px 6px, /* white */
			rgba(   0,   0,   0, 1) 6px 9px, /* black */
			rgba( 255, 255, 255, 1) 9px 12px, /* white */
			rgba(   0,   0,   0, 1) 12px 15px, /* black */
			rgba( 209, 172, 118, 1) 15px 30px, /* wheat */
			rgba( 213,   0,   0, 0.8) 30px 31px, /* red */
			rgba( 209, 172, 118, 1) 31px 33px, /* wheat */
			rgba( 213,   0,   0, 0.8) 33px 34px, /* red */
			rgba( 209, 172, 118, 1) 34px 49px /* wheat */
		);
}

.bg-fade-bg {
  background: linear-gradient(0deg,var(--background) 0%,var(--background-secondary) 100%);
}

.bg-fade-secondary {
  background: linear-gradient(180deg, var(--background) 0%,var(--background-secondary) 100%);
}

.bg-fade-secondary-reverse {
  background: linear-gradient(180deg, var(--background-secondary) 0%,var(--background) 100%);
}

.bg-fade-third {
  background: linear-gradient(180deg, var(--background) 0%,var(--tertiary) 100%);
}

.bg-fade-dark-primary {
  background: linear-gradient(180deg, #000 0%,var(--primary) 100%);
}

.bg-fade-dark-secondary {
  background: linear-gradient(180deg, #000 0%,var(--secondary) 100%);
}

.bg-fade-third-dark {
  background: linear-gradient(180deg, var(--tertiary) 0%,var(--background) 100%);
}

.bg-paper {
	background-color: #e5e5f7;
	background-image:  linear-gradient(var(--background) 2px, transparent 2px), linear-gradient(90deg, var(--background) 2px, transparent 2px), linear-gradient(var(--background) 1px, transparent 1px), linear-gradient(90deg, var(--background) 1px, #e5e5f7 1px);
	background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.bg-wavy {
	background-color: #ffffff;
	background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ffffff 10px ), repeating-linear-gradient( var(--background-secondary)55, var(--background-secondary) );
}

.bg-rhombus {
	background-color: #ffffff;
	background-image:  linear-gradient(135deg, var(--background-secondary) 25%, transparent 25%), linear-gradient(225deg, var(--background-secondary) 25%, transparent 25%), linear-gradient(45deg, var(--background-secondary) 25%, transparent 25%), linear-gradient(315deg, var(--background-secondary) 25%, #ffffff 25%);
	background-position:  10px 0, 10px 0, 0 0, 0 0;
	background-size: 10px 10px;
	background-repeat: repeat;
}

.bg-zigzag {
	background-color: #ffffff;
	background-image:  linear-gradient(135deg, var(--background-secondary) 25%, transparent 25%), linear-gradient(225deg, var(--background-secondary) 25%, transparent 25%), linear-gradient(45deg, var(--background-secondary) 25%, transparent 25%), linear-gradient(315deg, var(--background-secondary) 25%, #ffffff 25%);
	background-position:  10px 0, 10px 0, 0 0, 0 0;
	background-size: 20px 20px;
	background-repeat: repeat;
}

.bg-zigzag3d {
	background-color: #ffffff;
	background: linear-gradient(135deg, var(--background-secondary)55 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, var(--background-secondary) 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, var(--background-secondary)55 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, var(--background-secondary) 25%, #ffffff 25%) 0px 0/ 20px 20px;
}

.bg-circles {
	background-color: #ffffff;
	background-image: radial-gradient(circle at center center, var(--background-secondary), #ffffff), repeating-radial-gradient(circle at center center, var(--background-secondary), var(--background-secondary), 10px, transparent 20px, transparent 10px);
	background-blend-mode: multiply;
}

.bg-isometric {
	background-color: #ffffff;
	background-image:  linear-gradient(30deg, var(--background-secondary) 12%, transparent 12.5%, transparent 87%, var(--background-secondary) 87.5%, var(--background-secondary)), linear-gradient(150deg, var(--background-secondary) 12%, transparent 12.5%, transparent 87%, var(--background-secondary) 87.5%, var(--background-secondary)), linear-gradient(30deg, var(--background-secondary) 12%, transparent 12.5%, transparent 87%, var(--background-secondary) 87.5%, var(--background-secondary)), linear-gradient(150deg, var(--background-secondary) 12%, transparent 12.5%, transparent 87%, var(--background-secondary) 87.5%, var(--background-secondary)), linear-gradient(60deg, var(--primary-fade-opacity) 25%, transparent 25.5%, transparent 75%, var(--primary-fade-opacity) 75%, var(--primary-fade-opacity)), linear-gradient(60deg, var(--primary-fade-opacity) 25%, transparent 25.5%, transparent 75%, var(--primary-fade-opacity) 75%, var(--primary-fade-opacity));
	background-size: 20px 35px;
	background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}

.bg-cross {
	background-color: #ffffff;
	background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 25px 25px, linear-gradient(var(--background-secondary) 2px, transparent 2px) 0 -1px, linear-gradient(90deg, var(--background-secondary) 2px, #ffffff 2px) -1px 0;
	background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}

.bg-boxes {
	background-color: #ffffff;
	background-image:  linear-gradient(var(--background-secondary) 1px, transparent 1px), linear-gradient(to right, var(--background-secondary) 1px, #ffffff 1px);
	background-size: 20px 20px;
}