.body-parsed-text {
  a {
    position: relative;
    color: var(--secondary);
    overflow: hidden;
    background: linear-gradient(135deg, var(--primary), var(--text) 50%, var(--text) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 250% 100%;
    background-position: 100%;
    border-bottom: 1px solid var(--secondary);
    transition: all 275ms ease;
    &:hover,  &:focus {
      transform: skewX(-15deg);
      transition:transform .3s ease-in-out;
      background-position: 0 100%;
      border-bottom: 1px solid var(--secondary);
    }
  }
  a.text-link-primary {
    color: var(--text-overlay);
    font-weight: 700;
    transition: all 200ms ease;
    border-radius: 0.25rem;
    padding: 0.75rem 1.5rem;
    background: var(--primary);
    background-clip: initial;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    background-size: initial;
    background-position: initial;
    border-bottom:initial;
    background-clip: initial;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    background-size: initial;
    background-position: initial;
    border-bottom: initial;
    &:hover, &:focus-within {
      background: var(--secondary);
    }
  }
  a.text-link-secondary {
    color: var(--text-overlay);
    font-weight: 700;
    transition: all 200ms ease;
    border-radius: 0.25rem;
    padding: 0.75rem 1.5rem;
    background: var(--secondary);
    background-clip: initial;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    background-size: initial;
    background-position: initial;
    border-bottom:initial;
    background-clip: initial;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    background-size: initial;
    background-position: initial;
    border-bottom: initial;
    &:hover, &:focus-within {
      background: var(--primary);
    }
  }
  &.text-text-overlay {
    p, h1, h2, h3, h4, h6 {
      color: var(--text-overlay) !important;
    }
  }
  &.content-no-mb {
    p {
      margin-bottom: initial;
    }
  }
}


.rounded-button {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
  border: var(--primary) 1px solid;
  color: var(--text);
  background-color: var(--primary);
  padding: 8px 16px;
  border-radius: 12px;
  transition: all 300ms ease;
  &:hover, &:focus {
    background-color: var(--secondary);
  }
}

.button-pill {
  text-transform: lowercase;
  color: var(--text);
  border: 1px solid var(--text);
  padding: 8px 16px;
  border-radius: 16px;
  background-color: var(--secondary);
}