.space-theme {
  h1, h2, h3, h1 *, h2 *, h3 * {
    font-family: 'Space Grotesk', sans-serif !important;
    font-weight: bold;
  }
  h4, h5, h6, span, div, p,  button:not([class^="lg-"]), button, a, p strong {
    font-family: 'Space Grotesk', sans-serif !important;
  }
}

.wix-theme {
  * {
    h1, h2, h3, h1 *, h2 *, h3 * {
      font-family: "Wix Madefor Display", sans-serif !important;
      font-weight: 800;
    }
    h4, h5, h6, span, div, p,  button:not([class^="lg-"]), button, a, p strong {
      font-family: "Wix Madefor Display", sans-serif !important;
    }
  }
}

.lora-theme {
  h1, h2, h3, h1 *, h2 *, h3 * {
    font-family: 'Lora', serif!important;
    font-weight: bold;
  }
  h4, h5, h6, span, div, p,  button:not([class^="lg-"]), button, a, p strong {
    font-family: 'Lora', serif!important;
  }
}

.playfair-theme {
  h1,
  h2,
  h3,
  h1 *,
  h2 *,
  h3 *, 
  h4,   
  h5,
  h6, 
  a, 
  p.text-header, button span, a span, a p {
    font-family: 'Playfair Display', serif !important;
    font-weight: bold;
  }
  span,
  div,
  p,
  button:not([class^="lg-"]),
  p strong {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400;
    font-variant-numeric: lining-nums;
  }
}

.oswald-theme {
  h1, h2, h3, h1 *, h2 *, h3 * {
    font-family: 'Oswald', sans-serif !important;
    font-weight: bold;
  }
  h4, h5, h6, span, div, p,  button:not([class^="lg-"]), button, a, p strong {
    font-family: 'Oswald', sans-serif !important;
  }
}

.montserrat-theme {
  h1, h2, h3, h1 *, h2 *, h3 * {
    font-family: 'Montserrat', sans-serif !important;
    // font-weight: bold;
  }
  h4, h5, h6, span, div, p,  button:not([class^="lg-"]), button, a, p strong {
    font-family: 'Montserrat', sans-serif !important;
  }
}

.bebas-theme {
  h1, h2, h3, h1 *, h2 *, h3 * {
    font-family: 'Bebas Neue', sans-serif !important;
    font-weight: bold;
  }
  h4, h5, h6, span, div, p,  button:not([class^="lg-"]), button, a, p strong {
    font-family: 'Bebas Neue', sans-serif !important;
  }
}

.bitter-theme {
  h1, h2, h3, h1 *, h2 *, h3 * {
    font-family: 'Bitter', serif !important;
    font-weight: bold;
  }
  h4, h5, h6, span, div, p,  button:not([class^="lg-"]), button, a, p strong {
    font-family: 'Bitter', serif !important;
  }
}

.source-theme {
  h1, h2, h3, h1 *, h2 *, h3 * {
    font-family: 'Source Code Pro', monospace !important;
    font-weight: bold;
  }
  h4, h5, h6, span, div, p,  button:not([class^="lg-"]), button, a, p strong {
    font-family: 'Source Code Pro', monospace !important;
  }
}

.abril-theme {
  h1, h2, h3, h1 *, h2 *, h3 * {
    font-family: 'Abril Fatface', serif !important;
    font-weight: 900;
  }
  h4, h5, h6, span, div, p,  button:not([class^="lg-"]), button, a, p strong {
    font-family: 'Abril Fatface', serif !important;
  }
}

.archivo-theme {
  h1, h2, h3, h1 *, h2 *, h3 * {
    font-family: 'Archivo Black', sans-serif !important;
    font-weight: bold;
  }
  h4, h5, h6, span, div, p,  button:not([class^="lg-"]), button, a, p strong {
    font-family: 'Archivo Black', sans-serif !important;
  }
}

.manrope-theme {
  h1, h2, h3, h1 *, h2 *, h3 * {
    font-family: "Manrope", serif !important;
    font-weight: bold;
  }
  h4, h5, h6, span, div, p,  button:not([class^="lg-"]), button, a, p strong {
    font-family: "Manrope", serif !important;
  }
}

.ezcar-theme {
  h1, h2, h3, h1 *, h2 *, h3 * {
    font-family: 'Eczar', serif !important;
    font-weight: bold;
  }
  h4, h5, h6, span, div, p,  button:not([class^="lg-"]), button, a, p strong {
    font-family: 'Eczar', serif !important;
  }
}

.garamond-theme {
  h1, h2, h3, h1 *, h2 *, h3 * {
    font-family: 'EB Garamond', serif !important;
    font-weight: 400 !important;
  }
  h4, h5, h6, span, div, p,  button:not([class^="lg-"]), button, a, p strong {
    font-family: 'EB Garamond', serif !important;
  }
}

.dosis-theme {
  h1, h2, h3, h1 *, h2 *, h3 * {
    font-family: "Dosis", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight:initial !important;
    font-style: normal !important;
  }
  h4, h5, h6, span, div, p,  button:not([class^="lg-"]), button, a, p strong {
    font-family: "Dosis", sans-serif !important;
  }
}

.comfortaa-theme {
  h1, h2, h3, h1 *, h2 *, h3 * {
    font-family: "Comfortaa", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight:initial !important;
    font-style: normal !important;
  }
  h4, h5, h6, span, div, p,  button:not([class^="lg-"]), button, a, p strong {
    font-family: "Comfortaa", sans-serif !important;
  }
}

.amatic-theme {
  h1, h2, h3, h1 *, h2 *, h3 * {
    font-family: "Amatic SC", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto !important;
    font-weight:initial !important;
    font-style: normal !important;
  }
  h4, h5, h6, span, div, p,  button:not([class^="lg-"]), button, a, p strong {
    font-family: "Amatic SC", sans-serif !important;
  }
}

.titan-theme {
  h1, h2, h3, h1 *, h2 *, h3 * {
    font-family: "Titan One", sans-serif !important;
    font-weight: bold;
    font-style: normal;
    font-optical-sizing: auto !important;
    font-weight:initial !important;
    font-style: normal !important;
  }
  h4, h5, h6, span, div, p,  button:not([class^="lg-"]), button, a, p strong {
    font-family: "Titan One", sans-serif !important;
  }
}

.montserrat-alt-theme {
  h1, h2, h3, h1 *, h2 *, h3 * {
    font-family: "Montserrat Alternates", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto !important;
    font-weight:initial !important;
    font-style: normal !important;
  }
  h4, h5, h6, span, div, p,  button:not([class^="lg-"]), button, a, p strong {
    font-family: "Montserrat Alternates", sans-serif !important;
  }
}

.crisis-theme {
  h1, h2, h3, h1 *, h2 *, h3 * {
    font-family: "Climate Crisis", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
      "YEAR" 1979;
  }
  h4, h5, h6, span, div, p,  button:not([class^="lg-"]), button, a, p strong {
    font-family: "Climate Crisis", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
      "YEAR" 1979;
  }
}

.dmserif-theme {
  @mixin serif-font-styles {
    font-family: "DM Serif Text", serif !important;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }
  
  // Apply mixin to desired elements
  h1, h2, h3, h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
    @include serif-font-styles;
  }
  h4, h5, h6, span, div, p,  button:not([class^="lg-"]), button, a, p strong {
    font-family: "Wix Madefor Display", sans-serif !important;
  }
}

.copperplate-theme{
  @mixin serif-font-styles {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy !important;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  // Apply mixin to desired elements
  h1, h2, h3, h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong, h4, h5, h6, span, div, em {
    @include serif-font-styles;
    font-weight: bold;
  }
  p, button:not([class^="lg-"]), button, a, p strong {
    font-family: "Wix Madefor Display", sans-serif !important;
  }
}

.railroad-theme {
  @import url("https://use.typekit.net/zkg3squ.css");
  h1, h2, h3, h1 *, h2 *, h3 * {
    font-family: "railroad-gothic-atf", sans-serif !important;
    font-weight: 400 !important;
  }
  h4, h5, h6, span, div, p,  button:not([class^="lg-"]), button, a, p strong {
    font-family: "Josefin Sans", sans-serif !important;
    font-weight: 400 !important;
    letter-spacing: .07em !important;
  }
}

.lg-container {
  button.lg-icon {
    font-family: "lg" !important;
  }
  .lg-sub-html {
    font-size: 28px;
  }
}

