.infinite-gallery {
  margin-top: 10vh;
  min-height: 100vh;
  .infinite-gallery-images {
      display: flex;
      width: 100%;
      justify-content: center;
      position: relative;
      margin-top: 5vh;
      .infinite-gallery-images-container {
          position: absolute;
          img{
              object-fit: cover;
          }
          &:nth-of-type(1){
              height: 60vh;
              width: 50vh;
              z-index: 1;
          }
          &:nth-of-type(2){
              left: 55vw;
              top: 15vh;
              height: 40vh;
              width: 30vh;
              z-index: 2;
          }
          &:nth-of-type(3){
              left: 27.5vw;
              top: 40vh;
              height: 25vh;
              width: 20vh;
              z-index: 3;
          }
          // &:nth-of-type(4) {
          //   top: 100vh;
          //   height: 60vh;
          //   width: 50vh;
          //   z-index: 1;
          // }
          
          // &:nth-of-type(5) {
          //   left: 0;
          //   top: 80vh;
          //   height: 30vh;
          //   width: 25vh;
          //   z-index: 5;
          // }
          
          // &:nth-of-type(6) {
          //   left: 32.5vw;
          //   top: 80vh;
          //   height: 30vh;
          //   width: 25vh;
          //   z-index: 6;
          // }
          
          // &:nth-of-type(7) {
          //   left: 65vw;
          //   top: 80vh;
          //   height: 30vh;
          //   width: 25vh;
          //   z-index: 7;
          // }
          
          // &:nth-of-type(8) {
          //   left: 0;
          //   top: 110vh;
          //   height: 20vh;
          //   width: 15vh;
          //   z-index: 8;
          // }
          
          // &:nth-of-type(9) {
          //   left: 20vw;
          //   top: 110vh;
          //   height: 20vh;
          //   width: 15vh;
          //   z-index: 9;
          // }
          
          // &:nth-of-type(10) {
          //   left: 40vw;
          //   top: 110vh;
          //   height: 20vh;
          //   width: 15vh;
          //   z-index: 10;
          // }
      }
  }
}