@import "./animations.scss";
@import "./buttons.scss";
@import "./dividers.scss";
@import "./font-themes.scss";
@import "./text-effects.scss";
@import "./navigation.scss";
@import "./backgrounds.scss";

body {
  background: var(--dark);
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

p:empty {
  display: none;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: 'Poppins', sans-serif !important;
  // outline: 1px solid lime !important;
}

.z-100 {
  z-index: 100;
}

.z-200 {
  z-index: 200;
}

.z-300 {
  z-index: 300;
}

.background-white {
  background: #fff !important;
}

::selection  {
  background: var(--primary-fade-opacity) !important;
}

::-moz-selection{
  background:  var(--primary-fade-opacity) !important;
}

.container {
  max-width: 1480px;
}

.blurry-gradient-1 {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 800px;
  height: 800px;
	border-radius: 50% 22% 40% 80%;
	filter: blur(100px);
  background: radial-gradient(circle at 50% 50%,rgb(40, 54, 24), rgba(76, 0, 255, 0));
  opacity: 0.2;
}

.p-button:enabled:hover {
  color: var(--primary) !important;
}

:root {
  --background: #000000;
  --background-bright: brightness(var(--background, 120%));
  --background-secondary: #272727;
  --background-secondary-bright: brightness(var(--background-secondary, 120%));
  --primary: #e2e2e2;
  --swiper-theme-color: #4356A5;
  --primary-color: #e7e7e7;
  --secondary: #616EA9;
  --tertiary: #a9a261e1;
  --primary-fade:  rgb(41, 63, 130);
  --primary-fade-opacity:  #88888862;
  --text: #000000; 
  --text-overlay: #ffffff; 
}

.bg-bg-80 {
  background-color: rgba(var(--background), .8);
}

.bg-after {
 &:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--background);
  opacity: 70%;
  top:0;
  bottom: 0;
  max-height: 80px;
  z-index: -1;
 }
}

.bg-after-black {
 &:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent;
  background-image: linear-gradient(180deg,  var(--background) 0%,  var(--background) 100%);
  top:0;
  bottom: 0;
  max-height: 140px;
  z-index: -1;
 }
}

.bg-after-nav {
 &:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--background);
  opacity: 80%;
  top:0;
  bottom: 0;
  z-index: -1;
 }
}

.bg-secondary-after {
 &:after {
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--background-secondary);
  opacity: 70%;
  top:0;
  bottom: 0;
  max-height: 80px;
  z-index: -1;
 }
}

.bg-bg-bright {
  background: var(--background);
   backdrop-filter: brightness(150%);
}

.bg-bg-third {
  background: var(--tertiary);
  backdrop-filter: brightness(150%);
}

.bg-bg-secondary-bright {
  background: var(--background-secondary);
  backdrop-filter: brightness(150%);
}

.text-shadow {
  text-shadow: 4px 4px 12px #000000b5;
}

.text-shadow-large {
  text-shadow: -2px 0px 12px #000000b5;
}

.theme-button {
  border-radius: 0px;
  color: var(--text);
  font-size: 1.3rem;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  &.theme-overlay {
    color: var(--text-overlay);
  }
  &::before {
    background: var(--primary);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    inset: 0 0px 0 -600px;
    transition: all 200ms ease-in-out;
  }
  &:hover, &:focus {
    &::before {
      background: var(--primary);
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      inset: 0 0px 0 0px;
    }
  }
  &.btn-primary-text {
    color: var(--primary);
    &:hover, &:focus {
      color: var(--secondary) !important;
    }
  }
  &.wide-button {
    width: 100%;
    &::before {
      inset: 0 0px 0 0px !important;
    }
  }
  &.fill-primary-theme {
    &::before {
      background: var(--primary);
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      inset: 0 0px 0 0px;
      transition: all 200ms ease-in-out;
    }
    &:hover, &:focus {
      &::before {
        background: var(--secondary);
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        inset: 0 0px 0 0px;
      }
    }
  }
}

.text-link {
    position: relative;
    font-weight: 500;
    letter-spacing: 0.5px;
    overflow: hidden;
    color: var(--text);
    background: linear-gradient(135deg, var(--primary), var(--secondary) 50%, var(--text) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 250% 100%;
    background-position: 100%;
    transition: all 275ms ease;
    text-decoration: none;
    border-bottom: 1px solid var(--primary);
    &:hover, &:focus {
      background-position: 0 100%;
      border-bottom: 1px solid var(--secondary);
      svg {
        color: var(--primary);
      }
    }
    &.no-underline {
      border-bottom: none;
      &:hover, &:focus {
        background-position: 0 100%;
        border-bottom: none;
        svg {
          color: var(--primary);
        }
      }
    }
    svg {
      color: var(--text);
      transition-delay: 75ms;
    }
    &.text-link-button {
      background-clip: initial;
      -webkit-background-clip: initial;
      -webkit-text-fill-color: initial;
      font-weight: bold;
      color: var(--text-overlay) !important;
      border-radius: 0.25rem;
      text-transform: uppercase;
      background: var(--primary);
      &:hover {
        background: var(--secondary);
      }
    }
}

.gradient-text {
  position: relative;
  display: block;
  font-weight: 900 !important;
  font-size: 2.5em;
  font-weight: 500;
  max-width: max-content;
  text-align: center;
  margin: 20px auto 20px;
  letter-spacing: 0.5px;
  color: var(--text);
  overflow: hidden;
  background: linear-gradient(135deg, var(--primary), var(--secondary) 50%, var(--text) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 250% 100%;
  background-position: 100%;
  transition: all 275ms ease;
  text-decoration: none;
  border-bottom: 1px solid var(--primary);
  background-position: 0 100%;
  border-bottom: 2px solid var(--secondary);
}

.gradient-text-element {
  position: relative;
  display: block;
  font-weight: 900 !important;
  max-width: max-content;
  text-align: center;
  margin: 20px auto 20px;
  letter-spacing: 0.5px;
  color: var(--text);
  overflow: hidden;
  background: linear-gradient(135deg, var(--primary), var(--secondary) 50%, var(--tertiary) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 450% 100%;
  background-position: 100%;
  transition: all 275ms ease;
  text-decoration: none;
  border-bottom: 1px solid var(--primary);
  background-position: 0 100%;
  border-bottom: 2px solid var(--secondary);
}

.content-max-w-8xl {
  .body-parsed-text, .call-to-action-items {
    max-width: 86rem;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    @media screen and (min-width: 480px) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    @media screen and (min-width: 976px) {
    padding-left: 2rem;
    padding-right: 2rem;
    }
  }
}

.container figcaption {
  opacity: 95%;
  margin-top: 0em;
  margin-bottom: 2em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  font-size: 14px;
  line-height: 18px;
  color: var(--text);
}

.body-parsed-text {
  h2 {
    margin-bottom: 2em;
  }
  h3 {
    margin-bottom: 0.8em;
  }
  p, li, li div {
    // opacity: 95%;
    margin-top: -0.46em;
    margin-bottom: 2em;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    font-size: 18px;
    line-height: 28px;
    color: var(--text);
    @media screen and (min-width: 1200px){ 
      font-size: 20px;
      line-height: 32px;
    }
  }
  &.leading-none {
    p {
      line-height: normal;
      margin-bottom: 8px;
    }
  }
  &.text-xs {
    p {
      font-size: 16px;
      line-height: 20px;
    }
  }
  a img, img {
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
  }
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    li {
      margin: 0.7rem;
    }
  }
  table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 8px !important;
    margin-bottom: 2em;
    td, th {
      border: 1px solid var(--text);
      padding: 16px 8px;
      p {
        text-align: center;
        line-height: initial;
        margin: auto !important;
      }
    }
    tr {
      text-align: center;
      &:nth-child(even) {
        background-color: #f1f1f111; 
        }
      &:hover { 
        background-color: var(--background-secondary); 
      }
    }
    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: var(--primary-fade-opacity);
    }
  }
  blockquote {
    padding-top: 24px;
    padding-bottom: 24px;
    border-left: 1px solid var(--primary);
    font-size: 2.4rem;
    padding-left: 24px;
    font-weight: bold;
    color: var(--text);
    em {
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
  pre {
    background-color: #00000045;
    color: var(--primary);
    padding: 24px;
    border-radius: 8px;
    border: 1px solid var(--primary);
    text-align: center;
    font-weight: bold;
  }
  h1 {
    font-size: 2.2rem;
    font-weight: bold;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 90%;
  }
  h4 {
    font-size: 1.0rem;
    letter-spacing: 1px;
    line-height: 1.5em;
    margin-bottom: 0;
    font-weight: 700;
    text-transform: uppercase;
  }
  h5 {
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--primary);
  }
  h6 {
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 900;
    text-transform: uppercase;
    
  }
 &.parse-h1 {
  p {
    font-size: clamp(2rem, 8vw, 4rem);
    font-weight: bold;
    margin-bottom: clamp(1rem, 4vw, 2.4rem);
    margin-left: 0;
    line-height: 110%;
  }
}
&.parse-h2 {
  p {
    font-size: clamp(1.25rem, 4vw, 2rem);
    font-weight: bold;
    margin-bottom: clamp(0.5rem, 2vw, 1rem);
    margin-left: 0;
  }
}
  &.parse-p {
    p {
     font-size: clamp(1rem, 2.5vw, 1.2rem);
      font-weight: bold;
      margin-bottom: clamp(0.5rem, 1.5vw, 1rem);
      font-weight: bold;
      margin-left: 0;
    }
  }
} 

.bg-invert {
  background-color: var(--text);
  &.text-only {
    background-color: inherit;
  }
  * {
    color: var(--background) !important;
  }
    .text-link {
      position: relative;
      font-weight: 500;
      letter-spacing: 0.5px;
      overflow: hidden;
      color: var(--background);
      background: linear-gradient(135deg, var(--primary), var(--secondary) 50%, var(--background) 50%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 250% 100%;
      background-position: 100%;
      transition: all 275ms ease;
      text-decoration: none;
      border-bottom: 1px solid var(--primary);
      &.no-underline {
        border-bottom: none;
      }
      svg {
        color: var(--background);
        transition-delay: 75ms;
      }
  }
  .logo-grid-item {
    background-color: var(--text);
  }
}

.all-text-dark {
  p, h1, h2, h3, h4, h6, a, button, blockquote, li, li div {
    color: var(--dark) !important;
  }
  .text-primary {
    color: var(--primary) !important;
  }
}

.all-text-primary {
  p, h1, h2, h3, h4, h6, a, button, blockquote {
    color: var(--primary) !important;
  }
}

.all-text-text-ovleray {
  p, h1, h2, h3, h4, h6, a, button, blockquote {
    color: var(--text-overlay) !important;
  }
}

.all-text-bg {
  p, h1, h2, h3, h4, h6, a, button, blockquote {
    color: var(--background) !important;
  }
}

.all-text-white {
  p, h1, h2, h3, h4, h6, a, button, blockquote {
    color: var(--text) !important;
  }
}

.all-text-blanco {
  p, h1, h2, h3, h4, h6, a, button, blockquote {
    color: #fff !important;
  }
}

.all-text-light {
  p, h1, h2, h3, h4, h6, a, button, blockquote {
    color: #fff !important;
  }
}

.header-primary {
  h1 {
    color: var(--primary);
  }
} 
.header-secondary {
  h1 {
    color: var(--secondary);
  }
} 
.h3-primary {
  h3 {
    color: var(--primary) !important;
  }
}
.h4-secondary {
  h4 {
    color: var(--secondary) !important;
  }
}
.header-xl {
  h1 {
    font-size: 4rem;
  }
} 
.subheader-xl {
  h2 {
    font-size: 3rem;
  }
} 
.content-w-80_100 {
  p {
    width: 80%;
  }
}
.content-w-50_100 {
  p {
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    p {
      width: 50%;
    }
  }
} 
.content-large {
  p, li div {
    font-size: 28px !important;
  }
}
.content-w-60_100 {
  p {
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    p {
      width: 60%;
    }
  }
}


.p-inputtext:enabled:hover {
  border-color: var(--secondary) !important;
}

.bg-none {
  background-color: transparent !important;
}

.theme-bg-primary {
  background-color: var(--primary) !important;
  &.p-inputtext {
    color: var(--text) !important;
  }
}

.theme-bg-secondary {
  background-color: var(--secondary) !important;
  &.p-inputtext {
    color: var(--text) !important;
  }
}

.theme-bg-white {
  background-color: var(--text) !important;
  &.p-inputtext {
    color: var(--dark) !important;
  }
}

.theme-border-blk {
  border-color: var(--dark) !important;
}

.theme-border-primary {
  border-color: var(--primary) !important;
}

.theme-bg-black {
  background-color: var(--dark) !important;
  &-faded {
    background-color: #10101093 !important;
  }
}

.theme-border-white {
  border-color: var(--text) !important;
}

.theme-dark-text {
  p {
    color: var(--dark) !important;
  }
}

p, h1, h2, h3,
h4, h5, h6  {color: var(--text);}

.p-progressbar {
  height: 0.5rem !important;

  .p-progressbar-value {
    background: var(--primary) !important;
  }
}

.parse-block {
  ul, ol {
    list-style-position: outside;
  }
}

.p-button {
  border-color: var(--primary);
}

.animate-col-width {
  transition: width 600ms ease;
}

.sr-only {
  border: 0!important;
  clip: rect(1px,1px,1px,1px)!important;
  -webkit-clip-path: inset(50%)!important;
  clip-path: inset(50%)!important;
  height: 1px!important;
  overflow: hidden!important;
  margin: -1px!important;
  padding: 0!important;
  position: absolute!important;
  width: 1px!important;
  white-space: nowrap!important;
}

.gradient-fade-overlay {
  position: relative;
  &::after, &::before {
    width: 200px;
    content: "";
    z-index: 10;
    position: absolute;
  }
  &.fade-right {
    &::after {
      inset: 0 0 0 auto;
      background: linear-gradient(90deg, transparent, var(--dark));
    }
  }
  &.fade-left {
    &::before {
      inset: 0 auto 0 0;
      background: linear-gradient(-90deg, transparent, var(--dark));
    }
  }
  &.fade-large {
    &::after, &::before {
      width: 140px;
      @media only screen and (min-width: 960px) {
        width: 400px;
      }
    }
  }
}

.blog-slider-wrapper {
  .swiper-wrapper {
    position: relative;
    &::after, &::before {
      width: 50px;
      content: "";
      z-index: 10;
      position: absolute;
      opacity: 0.5;
    }
      &::after {
        inset: 0 0 0 auto;
        background: linear-gradient(90deg, transparent, var(--dark));
      }
      &::before {
        inset: 0 auto 0 0;
        background: linear-gradient(-90deg, transparent, var(--dark));
      }
  }
}

.bg-bg-secondary .blog-slider-wrapper {
  .swiper-wrapper::after {
    background: linear-gradient(90deg, transparent, var(--background-secondary));
  }
  .swiper-wrapper::before {
    background: linear-gradient(-90deg, transparent, var(--background-secondary));
  }
}

.nested-pb-0 {
  .container.py-8 {
    padding-top: 2rem !important;
    padding-bottom: 0rem !important;
  }
}

.interact-card {
  text-decoration: none;
  color: var(--text);
  display: inline-block;
  background-color: var(--dark);
  border-radius: 16px 0 16px 0;
  overflow: hidden;
  transition: 200ms ease-in-out all;
  border: 1px solid var(--text);
  box-shadow: 5px 5px var(--text);
  &:hover, &:focus-within {
    border: 1px solid var(--secondary);
    background-color: rgba(30, 30, 30, 0.45);
    border-radius: 0 16px 0 16px;
    box-shadow: none;
    transform: translateY(4px) !important;
    transition: all ease-in 0.2s;
    opacity: 1 !important;
  }
  img {
    object-fit: cover;
    height: 340px;
    max-height: 340px;
  }
  p {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
    letter-spacing: normal !important;
  }
  .line-clamp-2 {
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .font-bold {
    font-size: 1.25rem !important;
    margin-top: 0.5rem !important;
  }
}

.line-clamp-parse {
  p {
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  p:not(:first-child) {
    display: none;
}
}

.social-icons {
  a {
    text-decoration: none !important;
    cursor: pointer;
    font-size: 1.5rem;
    margin-right:0.5rem;
    border-bottom: none;
    color: var(--text);
    &:hover, &:focus-within {
      border-bottom: none;
      color: var(--secondary) !important;
    }
  }
}

.max-w-8xl {
  max-width: 86rem;
}

.max-w-9xl {
  max-width: 92rem;
}

.max-w-10xl {
  max-width: 100rem;
}


#vendor-logos {
  padding: 10px 0;
  overflow: hidden;

  .partner {
    text-align: center;
    img {
      width: 100%;
      margin: 0 auto;
    }
  }

  .slick-slider {
    button {
      color: var(--primary) !important;
      &:before {
        color: var(--primary) !important;
      }
      &:focus-visible {
        outline: 2px solid #005fcc !important;
      }
    }
  }

  .slick-arrow {
    background: var(--text-color);
    width: 20px;
    height: 20px;
    font-size: 25px;
    color: var(--text-color);
    line-height: 40px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, opacity 0.5s;
    top: 45%;

    &:hover {
      background: var(--text-overlay);
    }

    &:before {
      display: none;
    }

    @media (max-width: 576px) {
      width: 40px;
      height: 40px;
      font-size: 25px;
      line-height: 40px;
    }
  }

  .slick-next {
    right: -15px;
    @media (min-width: 776px) {
      right: 0px;
    }
  }

  .slick-prev {
    z-index: 1;
    left: -15px;
    @media (min-width: 776px) {
      left: 0px;
    }
  }

  .slick-track {
    display: flex;
    align-items: center;
  }

  .slick-slide img {
    max-width: 300px !important;
    min-width: 300px;
    object-fit: cover;
  }
}


.social-share-icons {
  button {
    filter: saturate(0);
    transition: all 200ms ease;
    &:hover {
      filter: saturate(1);
    }
  }
}

.loop-text-8xl {
  transition: all 200ms ease;
  font-size: 2rem;
  line-height: 1;
  @media only screen and (min-width: 540px) {
    font-size: 3rem;
  }
  @media only screen and (min-width: 960px) {
    font-size: 6rem;
  }
}

.element-image {
  -html-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  scale: 0.9;
  &.bleed {
    scale: 1;
  }
  @media only screen and (min-width: 540px) {
    scale: 1;
  } 
  &.height-init {
    height: initial !important;
  }
}

.select-none {
  -html-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.lg-next, .lg-prev {
  color: var(--primary) !important;
}

.flex-fill::after {
  content: "";
  flex: auto;
}

.no-shadow-swiper .swiper-slide-shadow.swiper-slide-shadow-cards {
  background: none !important;
}

.-z-1 {
  z-index: -1;
}

// TEXT STYLES
.text-10xl {
  font-size: 8rem;
  line-height: 1;
}

.text-12xl {
  font-size: 10rem;
  line-height: 1;
}

.text-5xl {
  font-size: 1.5rem;
  line-height: 1;
  transition: all 200ms ease;
  @media only screen and (min-width: 540px) {
    font-size: 3rem;
  }
}

.text-14xl {
  transition: font-size 200ms ease;
  font-size: 1.5rem;
  @media only screen and (min-width: 540px)  {
    font-size: 12vw;
  }
  @media only screen and (min-width: 976px)  {
    font-size: 9vw;
  }
}

.link--leda {
  overflow: hidden;
  line-height: 2;
  font-family: orpheuspro, serif;
  font-weight: 700;
}

.link--leda::before {
  height: 2px;
  top: calc(100% - 5px);
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
}

.link--leda:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

.link--leda::after {
  content: attr(data-text);
  height: 100%;
  top: 0;
  background: none;
  transform-origin: 100% 50%;
  transform: translate3d(150%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
}

.link--leda:hover::after {
  transform: translate3d(0, 0, 0);
}

.link--leda span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
}

.link--leda:hover span {
  transform: translate3d(-150%, 0, 0);
}


.scale-down-80 {
  transform: scale(0.8);
  transition: all 200ms ease;
  @media only screen and (min-width: 960px) {
    transform: scale(1);
  }
}

// MAPBOX
.mapboxgl-popup-close-button {
  background-color: transparent;
  border: 0;
  border-radius: 0 3px 0 0;
  cursor: pointer;
  position: absolute;
  right: 4px !important;
  top: 0;
  font-size: 20px !important;
}

.mirrorH {
  transform: rotateY(180deg);
}

.section-with-both-dividers {
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 0;
    background: linear-gradient(to bottom, black, transparent);
  }
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 0;
    background: linear-gradient(to top, black, transparent);
}
}

.clip-sharp-bottom {
  clip-path: polygon(0% 0%,100% 0%,100% 85%,50% 100%,0% 85%);
}

.clip-round-bottom {
  clip-path: circle(180vh at 50% calc(100% + -180vh));
}


.netflix-full {
  .netflix-hero.max-w-8xl {
    max-width: 105rem !important;
  }
}

.sharp-header {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%);
}

.dialog-popup-page {
  iframe {
    background-color: white !important;
    border-radius: 10px;
    padding: 4px;
    max-height: 70dvh;
  }
  .py-8 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

#mc_embed_signup {
  border-radius: 16px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  background: rgba(255, 255, 255, 0.2) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  margin: 0 auto !important;
  max-width: 600px !important;
  width: 100% !important;
}

#mc_embed_signup {
  label, .indicates-required, .small-meta, .datefield {
    color: var(--text);
  }
  .datefield {
    display: flex;
    flex-direction: row !important;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }
  #mc-embedded-subscribe {
    width: 100% !important;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: larger;
  }
  .datefield input {
    width: 50px !important;
  }
  h2 {
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
  }
}


.menu-title {
  max-width: 56rem;
  text-align: center;
  color: var(--secondary) !important;
  border-bottom: 1px solid var(--secondary);
  width: 95%;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 24px;
}

.all-text-dark {
  .menu-title {
    h3 {
      font-weight: bold !important;
      color: var(--secondary) !important;
    }
  }
}

#profile-tourwidget iframe {
  width: 100% !important;
  display: block;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) !important;
  border-radius: 16px !important;
}

.fill-primary {
  fill: var(--primary)
}


.text-content-block {
  &.accent-header {
    h1, h2 {
      color: var(--primary) !important;
      margin-bottom: 16px !important;
    }
    p {
      color: var(--text) !important;
      font-size: 25px;
    }
  }
}


.shadow-map, .map-shadow {
  .mapboxgl-map {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
}

.text-stroke-3 {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.shadow-soft {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.015) 0px 30px 60px -30px;
}

.shadow-softer {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 25px 50px -10px;
}

.video-darken {
  .video-power-overlay {
    opacity: 0.6 !important;
    background-color: #000 !important;
    z-index: 2  !important;
  }
}

.fixed-opacity-full {
  .opacity-60 {
    opacity: 1 !important;
  }
}

.map-bw {
  canvas.mapboxgl-canvas {
    filter: grayscale(100%) !important;
    transition: all 200ms ease;
    &:hover {
      filter: grayscale(0%) !important;
    }
  }
}

.-mt-100 {
  margin-top: -100px;
}