.headlinePrimary {
  strong { 
      background: linear-gradient(to top,  var(--secondary) 40%, transparent 40%);
  }
}

.gradient-bkg {
  background: linear-gradient(90.35deg, var(--primary) .31%, var(--secondary) 99.24%);
  position: relative;
  overflow: hidden;
  &:before, &::after {
    background: linear-gradient(45deg, rgba(256,256,256, 0.075) .31%, rgba(256,256,256, 0.0) 99.24%);
    z-index: 2;
    height: 400px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    content: '';
  }
  &:before {
    top: -100px;
    left: -100px;
  }
  &:after {
    bottom: -100px;
    right: -100px;
  }
}

.dark-gradient-bkg {
  background: linear-gradient(90.35deg, var(--background) .31%, var(--background-secondary) 99.24%);
  position: relative;
  overflow: hidden;
  &:before, &::after {
    background: linear-gradient(45deg, rgba(256,256,256, 0.075) .31%, rgba(256,256,256, 0.0) 99.24%);
    z-index: 2;
    height: 400px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    content: '';
  }
  &:before {
    top: -100px;
    left: -100px;
  }
  &:after {
    bottom: -100px;
    right: -100px;
  }
}

.bg-gradient-primary {
  background: linear-gradient(90.35deg, var(--primary) .31%, var(--secondary) 99.24%);
  position: relative;
  overflow: hidden;
  &:before, &::after {
    background: linear-gradient(45deg, rgba(256,256,256, 0.075) .31%, rgba(256,256,256, 0.0) 99.24%);
    z-index: 2;
    height: 400px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    content: '';
  }
  &:before {
    top: -100px;
    left: -100px;
  }
  &:after {
    bottom: -100px;
    right: -100px;
  }
}

.reverse-gradient {
  background: linear-gradient(90.35deg, var(--secondary) .31%, var(--primary) 99.24%);
}

.box-shadow {
  -webkit-box-shadow: 0px 17px 17px -17px var(--background-secondary);
  -moz-box-shadow: 0px 17px 17px -17px var(--background-secondary);
  box-shadow: 0px 17px 17px -17px var(--background-secondary);
  &.shadow-direction-up {
    -webkit-box-shadow: 0px 24px 27px 15px  var(--primary-fade);
    -moz-box-shadow: 0px 24px 27px 15px  var(--primary-fade);
    box-shadow: 0px 24px 27px 15px  var(--primary-fade);
  }
}

.nav-shadow {
  -webkit-box-shadow: 0px 10px 10px -10px var(--background);
  -moz-box-shadow: 0px 10px 10px -10px var(--background);
  box-shadow: 0px 10px 10px -10px var(--background);
  transition: all 200ms ease;
  &.nav-shadow-scrolled {
    -webkit-box-shadow: 0px 17px 17px -17px var(--background-secondary);
    -moz-box-shadow: 0px 17px 17px -17px var(--background-secondary);
    box-shadow: 0px 17px 17px -17px var(--background-secondary);
  }
}

.hero-bg, .background-image-featured {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &.tinted {
    &::after  {
      content: '';
      height: 100%;
      width: 100%;
      inset: 0 0 0 0;
      background: #00000095;
      position: absolute;
      z-index: 1;
    }
  }
  &.tall {
    img {
      max-height: 450px;
    }
  }
}


.dynamic-feature-section {
  .dynamic-featured-image-display {
   max-height: 350px;
  }
  &.tall {
    .dynamic-featured-image-display {
      max-height: 500px;
    }
  }
}

.vignette {
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15vw;
    right: -15vw;
    z-index: 1;
    opacity: 0.25;
    box-shadow: inset 0 0 10vw 2.5vw var(--dark);
  } 
}

.parallax-container {
  &.accent:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15vw;
    right: -15vw;
    z-index: 1;
    opacity: .75;
    box-shadow: inset 0 0 10vw 5vw #101010;
  } 
  .image-parallax {
    @supports ( -webkit-touch-callout : none)  {
      background-attachment: scroll;
    }
    @supports not ( -webkit-touch-callout : none){
      background-attachment: fixed;
    }
  }
}

.slick-slider {
  position: relative;
  .slick-arrow {
    position: absolute !important;
    z-index: 1 !important;
  }
  .slick-dots {
    position: absolute;
    bottom: 25px;
    z-index: 1;
    li {
      &.slick-active  {
        button:before {
        color: var(--primary);
        }
      }
      button:before {
        color: var(--text);
      }
    } 
  }
}

.slider-image {
  // height: 40vh;
  // object-fit: cover;
  // @media only screen and (min-width: 960px) {
  //   height: 95vh;
  // }
}


// .album-swiper {
//   .swiper {
//     width: 240px !important;
//     height: 320px !important;
//   }
  
//   .swiper-slide {
//     display: flex !important;
//     align-items: center !important;
//     justify-content: center !important;
//     border-radius: 18px !important;
//     font-size: 22px !important;
//     font-weight: bold !important;
//     color: #fff !important;
//   }
//   .swiper-3d .swiper-slide-shadow {
//     background: rgba(0,0,0,.15);
//     width: 33% !important;
//     margin: 0 auto !important;
//     right: 0 !important;
//   } 
// }

.home-standout-text-wrapper {
  .home-standout-text {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.6rem;
    @media only screen and (min-width: 960px) {
      font-size: 2.4rem;
    }
  }
}

.profile-card {
  h4, p {
    transition: all 200ms ease;
    letter-spacing: normal;
    svg {
      opacity: 0;
      margin-left: 8px;
      transition-delay: 50ms;
      transition: all 200ms ease;
    }
  }
}

.music .profile-card {
  position: relative;
  img.profile-card-image {
    border-radius: 100%;
    position: relative;
    z-index: 1;
    transform: translateZ(0);
  }
  &:hover, &:focus-within {
  .profile-card-image {
      transform: rotate(20deg) !important;
      box-shadow: none;
    }
  }
}

.music .music-border {
  position: absolute;
  inset: 0 0 0 0;
  z-index: 10;
  content: "";
  box-shadow: 0 0 0 2px var(--text);
  border-radius: 100%;
  opacity: 0.25;
  transform: scale(1) rotate(0deg) translateZ(0) !important;
  transition: all 200ms ease;
  &:hover, &:focus-within {
    transform: scale(0.9) rotate(15deg) translateZ(0) !important;
    box-shadow: 0 0 0 2px var(--primary);
    opacity: 0.5;
  }
}

.featured-img-100 {
  img {
    min-height: 450px;
    object-fit: contain !important;
  }
}

.texture-background {
  &:after {
    content:'';
    position: absolute;
    z-index: -1;
    inset: -100px 0 0 0;
    width: 50vw;
    background-image: radial-gradient(var(--text) 10%, transparent 20%),
    radial-gradient(transparent 210%, transparent 20%);
    background-position: fixed;
    background-size: 20px 20px;
    filter: opacity(0.1);
    height: 1000vh;
  }
  &.texture-right {
    &:after {
      right: 0;
      left: initial;
    }
  }
  &.texture-faded {
    &:after {
      opacity: 0.5;
    }
  }
}

.hero-container {
  position: relative;
  min-height: 380px;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 200ms ease;
  &:after, &:before {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    display: block;
  }
  &:after {
    z-index: 2;
    border: 1px solid var(--primary);
    top: -20px;
    left: -20px;
  }
  &:before {
    z-index: 1;
    border: 1px solid var(--secondary);
    right: -20px;
    bottom: -20px;
  }
  &.overlay-inner {
    &:after {
      width: 98%;
      height: 98%;
      top: 0px;
      left: 0px;
    }
    &:before {
      width: 98%;
      height: 98%;
      right: 0px;
      bottom: 0px;
    }
  }
  h1 {
    text-transform: uppercase;
    text-align: center;
  }
}

.profile-card {
  .swiper-image-gallery-item {
    max-height: 400px;
    @media only screen and (min-width: 960px) {
      max-height: 600px;
    }
  }
  border-radius: 8px;
  .profile-card-social-icons {
    a {
      text-decoration: none !important;
      cursor: pointer;
      font-size: 1rem;
      margin-right:0.5rem;
      border-bottom: none;
      color: var(--text) !important;
      transition: all 200ms ease;
      &:hover, &:focus-within {
        border-bottom: none;
        color: var(--secondary) !important;
      }
    }
  }
}

.section-component-alternate-wrapper {
  display: flex;
  flex-direction: column;
  .section-component-alternate {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
  }
}


body iframe {
  background: transparent;
}

.parsed-mb-0 {
  p {
    margin: 0;
  }
}

.nested-pb-0 {
  .container.py-8 {
    padding-top: 2rem !important;
    padding-bottom: 0rem !important;
  }
  p {
    padding: 0 !important;
    margin-bottom: 0;
  }
}

.hover-opacity {
  opacity: 75%;
  transition: 200ms ease;
  &:hover {
    opacity: 100%;
  }
}

.dynamic-image-class {
  &.dynamic-circle {
    border-radius: 50%;
  }
  &.dynamic-border {
    border: 1px solid var(--primary);
  }
  &.dynamic-rounded {
    border-radius: 16px;
  }
  &.dynamic-small {
    max-width: 200px;
    width: 100%;
  }
  &.dynamic-medium {
    max-width: 400px;
    width: 100%;
  }
  &.dynamic-large {
    width: 100%;
    max-width: 800px;
  }
  &.dynamic-xl {
    width: 100%;
    max-width: 1000px;
  }
  &.dynamic-xxl {
    width: 100%;
    max-width: 1200px;
  }
  &.dynamic-full {
    width: 100%;
    max-width: 100vw;
  }
}

.social-icons-row {
  a {
    text-decoration: none !important;
    cursor: pointer;
    font-size: 1.5rem;
    margin-right:0.5rem;
    border-bottom: none;
    color: var(--text);
    &:hover, &:focus-within {
      border-bottom: none;
      color: var(--secondary) !important;
    }
  }
}


.outline-text-wrapper {
  position: relative;
  &:after, &:before {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    display: block;
  }
  &:after {
    z-index: 2;
    border: 1px solid var(--primary);
    top: -20px;
    left: -20px;
  }
  &:before {
    z-index: 1;
    border: 1px solid var(--secondary);
    right: -20px;
    bottom: -20px;
  }
  .outline-text {
    -webkit-text-stroke-width: 1px !important;
    -webkit-text-stroke-color: var(--text) !important;
    color: var(--dark) !important;
    text-transform: uppercase;
  }
}

.album-item {
  transition: all 400ms ease-in-out;
  z-index: 2;
  position: relative;
  overflow: hidden;
  &:after {
    transition: all 200ms ease-in-out;
    content: '';
    inset: 0 0 0 0;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, var(--dark) 50%, var(--dark) 100%);
    opacity: 0;
    transform: translateY(100%);
  }
  p {
    transition: color 200ms ease-in-out;
  }
  &:hover, &:focus {
    &:after {
      opacity: 0.75;
      transform: translateY(0px);
      background: linear-gradient(0deg, var(--dark) 50%, var(--primary) 100%);
    }
    p {
      color: var(--primary);
    }
  }
}

.bg-invert {
  .album-item {
    &:after {
      background: linear-gradient(0deg, var(--text) 50%, var(--text) 100%);
    }
    &:hover, &:focus {
      &:after {
        background: linear-gradient(0deg, var(--text) 50%, var(--primary) 100%);
      }
    }
  }
}


.video-wrapper {
  overflow: hidden;
  min-height: 70vh;
  max-height: 85vh;
  height: 85vh;
  &.h-30vh {
    min-height: 30vh;
    max-height: 35vh;
    height: max-content;
  }
  &.h-40vh {
    min-height: 40vh;
    max-height: 45vh;
    height: max-content;
  }
  &.h-50vh {
    min-height: 50vh;
    max-height: 55vh;
    height: max-content;
  }
  position: relative;

  &.tinted-image {
    .main img {
      position: relative;
      &::after  {
        content: '';
        height: 100%;
        width: 100%;
        inset: 0 0 0 0;
        background: #00000095;
        position: absolute;
        z-index: 1;
      }
    }
  }

  &.blur-video {
    video {
      filter: blur(5px);
    }
  }

  &.filter-video {
    video {
      filter: brightness(0.3) blur(6px) saturate(1.5);
    }
  }

  .video-overlay-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 4rem 2rem;
    margin: auto;
    text-align: center;
    z-index: 100;
    position: absolute;
    &.align-bottom {
      @media screen and (max-width: 960px) {
        justify-content: flex-end;
        text-align: center;
      }
    }
    &.bottom-left {
      @media screen and (max-width: 960px) {
        margin: auto auto 2rem 4rem;
        align-items: flex-end;
        justify-content: flex-end;
        text-align: left;
      }
    }
    .title-text {
      font-size: 2.5rem;
      @media screen and (min-width: 960px) {
        font-size: 3.5rem;
      }
      text-shadow: 0em 0em 0.3em rgb(0 0 0 / 40%)
    }
  }
  .tagline-wrapper {
    @media screen and (max-width: 960px) {
      display: none;
    }
    position: absolute;
    bottom: 0px;
    right: 50%;
    transform: translateX(50%);
    padding: 1rem 3rem;
    color: black;
    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    .social-icons-row {
      a {
        text-decoration: none !important;
        cursor: pointer;
        font-size: 2rem;
        margin-right:0.5rem;
        border-bottom: none;
        color: var(--text);
        transition: all 200ms ease;
        &:hover, &:focus-within {
          border-bottom: none;
          color: var(--secondary) !important;
        }
      }
    }
  }
  .background-image-only {
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 45vh;
    width: 100%;
    height: 100%;
    @media screen and (min-width: 960px) {
      min-height: 55vh;
    }
  }
  .main {
    width: 100%;
    height: 100%;
  }
  
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .video-bg {
    position: relative;
    height: 100%;
    background: #000;
    overflow: hidden;
    iframe {
      display: block;
      object-fit: cover;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100vw;
      height: 60vw;
    }
  }
  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .overlay {
    transition: all;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
  }
}

.hero-media-slider  {
  &.no-fade {
      .absolute.bg-gradient-to-t.section-fade-invert {
        background-image: unset !important;
        position: unset !important;
        inset: unset !important;
      }   
  }
}

.date-format-badge {
  position: absolute;
  inset: auto auto -2px 20px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 60px;
  min-height: 60px;
  span {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    &.date-format-badge-month {
      margin-bottom: -6px;
      font-size: 12px;
    }
    &.date-format-badge-date {
      margin-bottom: -6px;
      font-weight: bold;
      font-size: 16px;
    }
  }
}

.event-slider-wrapper {
  .swiper {
    width: 100% !important;
    padding-top: 0px !important;
    padding-bottom: 100px !important;
  }
  
  .swiper-slide {
    background-position: center !important;
    background-size: cover !important;
    width: 250px !important;
    height: 300px !important;
    @media only screen and (min-width: 960px) {
      width: 300px !important;
      height: 350px !important;
    }
  }
  
  .swiper-slide {
    a {
      display: block !important;
      width: 100% !important;
      height: 100% !important;
    }
    img {
      display: block !important;
      width: 100% !important;
      height: 100%;
      object-fit: cover;
    }
  }
}

.-top-600px {
  top: -600px;
  z-index: -1;
}

.h-10vh {
  min-height: 10vh;
}

.h-25vh {
  min-height: 25vh;
}

.h-30vh {
  min-height: 30vh;
}

.h-50vh {
  min-height: 50vh;
}

.h-60vh {
  min-height: 60vh;
}

.h-60vh-max {
  max-height: 60vh;
}

.h-70vh {
  min-height: 70vh;
}

.h-80vh {
  min-height: 80vh;
}

.h-100vh {
  min-height: 100vh;
}

.h-105vh {
  min-height: 105vh;
}

.h-110vh {
  min-height: 110vh;
}

.h-120vh {
  min-height: 120vh;
}

.h-130vh {
  min-height: 130vh;
  overflow: hidden;
}

.h-140vh {
  min-height: 140vh;
}

.h-150vh {
  min-height: 150vh;
}

.h-160vh {
  min-height: 160vh;
}

.h-170vh {
  min-height: 170vh;
}

.h-180vh {
  min-height: 180vh;
}

.h-190vh {
  min-height: 190vh;
}

.h-200vh {
  min-height: 200vh;
}

.slick-slider.mobile-album-slick {
  .slick-arrow {
    color: var(--primary) !important;
    &::before {
      color: var(--primary) !important;
    }
    &.slick-prev {
      left: 0 !important;
    }
    &.slick-next {
      right: 0 !important;
    }
  }
  .slick-slide {
    div {
      display: flex;
    }
  }
}