.horizon-nav-desktop {
  padding: 5px 15px;
  top: 0;
  bottom: 0;
  right: 0;
  &.isScrolled {
    right: -18%;
  }
  &.isScrolled &:hover, &:focus-within {
    right: -8% !important;
  }
  &:hover, &:focus-within {
    right: 0% !important;
  }
  transition: all 350ms ease;
  z-index: 100;
  height: calc(100vh - 80px);
  margin: 80px 16px 0 0;
  flex-direction: column;

  a, button {
    text-align: right;
    span {
      mix-blend-mode: multiply;
      font-size: 125px;
      display: block;
      margin: 20px 0;
      position: relative;
    }
    position: relative;
      @keyframes strike {
        0% {
          width: 0;
        }
        100% {
          width: 100%;
        }
      }
          
      &:hover span:after, &:focus span:after {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 3px;
        background: var(--primary);
        animation-name: strike;
        animation-duration: 300ms;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-fill-mode: fill;
        animation-direction: normal;
      }
  } 
}

.psuedo-circle {
  position: relative; 
  cursor: pointer;
  &:before {
    background: var(--background);
    height: 125px;
    width: 125px;
    border-radius: 50%;
    content: '';
    z-index: -2;
    position: fixed;
    transition: all 200ms ease;
    border: var(--background-secondary) 2px solid;
  }
  &:hover {
    &:before {
      border: var(--primary) 2px solid;
    }
  }
  &.small-psuedo-circle {
    &:before {
      background: var(--background-secondary);
      height: 95px;
      width: 95px;
      border: var(--background) 2px solid;
    }
    &:hover {
      &:before {
        border: var(--tertiary) 2px solid;
      }
    }
  }
}

.shadow-top {
  -webkit-box-shadow: 0 -5px 15px #0808086b;
  box-shadow: 0 -5px 15px #0808086b;
  @media screen and (min-width: 976px) {
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
    }
}

.slashes .footer-link-item:not(:last-child) {
  &:after {
    content: " /";
    margin: 0 4px;
  }
}

.nav-announcement-bar {
  span {
    border-radius: 16px;
    padding: 4px 8px;
    color: var(--primary);
    background-color: var(--background-secondary);
  }
}