.vertical-nav-desktop {
  padding: 5px 15px;
  transition: all 200ms ease;
  writing-mode: vertical-rl;
  top: 0;
  right: 0;
  z-index: 100;
  height: calc(100vh - 80px);
  margin: 80px 16px 0 0;
  a span {
    mix-blend-mode: multiply;
  }
}

.psuedo-circle {
  position: relative; 
  cursor: pointer;
  &:before {
    background: var(--background);
    height: 125px;
    width: 125px;
    border-radius: 50%;
    content: '';
    z-index: -2;
    position: fixed;
    transition: all 200ms ease;
    border: var(--background-secondary) 2px solid;
  }
  &:hover {
    &:before {
      border: var(--primary) 2px solid;
    }
  }
  &.small-psuedo-circle {
    &:before {
      background: var(--background-secondary);
      height: 95px;
      width: 95px;
      border: var(--background) 2px solid;
    }
    &:hover {
      &:before {
        border: var(--tertiary) 2px solid;
      }
    }
  }
}