.profile-vertical-gallery {
  .vertical-profile {
    max-height: 75vh;
    p {
      @media screen and (min-width: 976px)  {
        writing-mode: vertical-rl;
      }
    }
  }
}

.profile-universal-hover {
  &:hover, &:focus {
    .profile-universal-text {
      color: var(--primary) !important;
      transform: skewX(5deg) !important;
    }
  }
}

.rotate-icons {
  a {
    position: relative;
  }
}