@tailwind base;
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--background-secondary) var(--background-secondary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--background-secondary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 14px;
  border: 2px solid var(--primary);
}

@tailwind components;
@tailwind utilities;