@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");
@tailwind base;
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--background-secondary) var(--background-secondary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--background-secondary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--text);
  border-radius: 14px;
  border: 2px solid var(--text);
}

@tailwind components;
@tailwind utilities;
