.mouse-blob {
  width: 650px;
  height: 650px;
  border-radius: 100%;
  background-image: linear-gradient(var(--secondary) 10%, var(--tertiary));
  filter: blur(250px);
  transition: all 450ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: -1;
  &.is-blob-hovering {
    background-image: linear-gradient(var(--primary) 50%, var(--secondary));
  }
}